[Desktop Entry]
Version=1.0
Type=Application
Name=BotManager
Comment=
Exec=/home/betting/Downloads/BotManager/BotManager
Icon=emblem-default
Path=/home/betting/Downloads/BotManager
Terminal=true
StartupNotify=false